@import 'tailwindcss/base'; 
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer base {
    [data-nextjs-scroll-focus-boundary] {
      display: contents;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  .rainbow-mesh {
    background-color: hsla(0, 100%, 50%, 1);
    background-image: radial-gradient(
        at 40% 20%,
        hsla(28, 100%, 74%, 1) 0px,
        transparent 50%
      ), radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  }
  
  .candy-mesh {
    background-color: #dfd4dd;
    background-image: radial-gradient(
        at 99% 6%,
        hsla(195, 69%, 67%, 1) 0px,
        transparent 50%
      ), radial-gradient(at 55% 88%, rgb(203, 237, 243) 0px, transparent 50%),
      radial-gradient(at 53% 27%, rgb(208, 200, 215) 0px, transparent 50%),
      radial-gradient(at 89% 89%, rgb(230, 197, 221) 0px, transparent 50%),
      radial-gradient(at 35% 44%, rgb(194, 186, 189) 0px, transparent 50%);
  }
  
  .glass {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
  